
body {
    background-color: rgb(23, 71, 147);
}
header {
    background-color: rgb(56, 108, 185);
    border-radius: 10px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    text-align: center;
    border: 20px solid rgb(241, 163, 0);
}
main {
    background-color: rgb(56, 108, 185);
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    display: block;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 30px solid rgb(255, 223, 1);
}

main article {
    background-color: white;
    border-radius: 10px;
    margin: 20px 20px 20px auto;
    height: fit-content;
    padding: 10px;
    width: 45%;
    display: inline-block;
    overflow: scroll;
}

main article h2 {
    text-align: center;
}


main article img {
    border-radius: 15px;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

main aside {
    background-color: white;
    border-radius: 10px;
    margin: 20px auto 20px 20px;
    height: fit-content;
    padding: 10px;
    width: 45%;
    position: relative;
    display: inline-block;
    overflow: scroll;
}

main aside h3 {
    text-align: center;
}

main img {
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;  
    margin-right: auto;
    margin-left: auto;
    width: 851px;
    overflow: hidden;
}
footer {
    background-color: rgb(56, 108, 185);
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    height: fit-content;
    padding: 10px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: 20px solid rgb(241, 163, 0);
}

footer ol li {
    background-color: white;
    margin: 5px 5px 5px 5px;
    height: fit-content;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
}