
body {
    background-color: white;
}
header {
    background-color: red;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    text-align: center;
}
main {
    background-color: red;
    border-radius: 10px;
    height: fit-content;
    padding: 10px;
    margin: 5px 5px 5px 5px;
}
aside {
    background-color: white;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    height: fit-content;
    padding: 10px;
    width: 50%;
    margin-left: 40%;
    display: inline-block;
    overflow: scroll;
}
main img {
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;  
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
footer {
    background-color: crimson;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    height: fit-content;
    padding: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

footer ol li {
    background-color: white;
    margin: 5px 5px 5px 5px;
    height: fit-content;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}