
body {
    background-color: white;
}
header {
    background-color: red;
    border-radius: 10px;
}
main {
    background-color: red;
    border-radius: 10px;
    height: fit-content;
}
aside {
    background-color: white;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    height: fit-content;
}
main img {
    border-radius: 10px;
    margin-bottom: 10px;    
}